/* src/styles/Home.module.css */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
  gap: 2rem;
}

.card {
  padding: 1rem;
  border-radius: var(--border-radius);
  transition: background 200ms, border 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
}

/* No more dark or light mode styling here; it’s all managed in theme.ts */
